<a href="https://colab.research.google.com/github/VilmaTar/pre-corse/blob/pre-course/1_exploring_the_scores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nauja skiltis

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df1 = pd.read_csv('/content/drive/MyDrive/First commit of demo notebook/nbaallelo.csv')
df1

        gameorder       game_id lg_id  ...  game_result  forecast notes
0               1  194611010TRH   NBA  ...            L  0.640065   NaN
1               1  194611010TRH   NBA  ...            W  0.359935   NaN
2               2  194611020CHS   NBA  ...            W  0.631101   NaN
3               2  194611020CHS   NBA  ...            L  0.368899   NaN
4               3  194611020DTF   NBA  ...            L  0.640065   NaN
...           ...           ...   ...  ...          ...       ...   ...
126309      63155  201506110CLE   NBA  ...            L  0.546572   NaN
126310      63156  201506140GSW   NBA  ...            W  0.765565   NaN
126311      63156  201506140GSW   NBA  ...            L  0.234435   NaN
126312      63157  201506170CLE   NBA  ...            L  0.481450   NaN
126313      63157  201506170CLE   NBA  ...            W  0.518550   NaN

[126314 rows x 23 columns]

In [ ]:
df1.columns

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
      dtype='object')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [ ]:
df1['pts']

0          66
1          68
2          63
3          47
4          33
         ...
126309     82
126310    104
126311     91
126312     97
126313    105
Name: pts, Length: 126314, dtype: int64

In [ ]:
print("Avg pts:        ", pts.avg())
print("Median pts:     ", pts.median())
print("Minimum pts:    ", pts.min())
print("Maximum pts:    ", pts.max())

In [ ]:
print("5th percentile:   ", np.percentile(pts, 5))
print("Median:            ", np.median(pts))
print("95th percentile:   ", np.percentile(pts, 95))

In [ ]:
import numpy as np

assert round(avg_pts, 1) == 102.7
assert round(median_pts, 1) == 103
np.testing.assert_array_almost_equal(quantiles,  
  [0.0,
  79.0,
  84.0,
  88.0,
  91.0,
  93.0,
  95.0,
  97.0,
  99.0,
  101.0,
  103.0,
  104.0,
  106.0,
  108.0,
  110.0,
  112.0,
  115.0,
  118.0,
  122.0,
  127.0])
assert round(max_pts, 2) == 186
assert round(min_pts, 2) == 0

In [ ]:
pd.DataFrame(
    
colums = ['pts'])

Exercise - exploring the scores

game_result