<a href="https://colab.research.google.com/github/VilmaTar/pre-corse/blob/pre-course/%E2%80%9Eloading_a_dataset_from_remote5_ipynb%E2%80%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Nauja skiltis

In [3]:
# List contents in the current working directory
! ls

# Navigate into the `data` sub-directory
%cd nbaallelo

# List contents of `data`
! ls

# Print new working directory
! pwd

sample_data
[Errno 2] No such file or directory: 'nbaallelo'
/content
sample_data
/content

In [16]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/First commit of demo notebook/nbaallelo.csv')

KeyboardInterrupt: ignored

In [17]:
data.head()

   gameorder       game_id lg_id  ...  game_result  forecast notes
0          1  194611010TRH   NBA  ...            L  0.640065   NaN
1          1  194611010TRH   NBA  ...            W  0.359935   NaN
2          2  194611020CHS   NBA  ...            W  0.631101   NaN
3          2  194611020CHS   NBA  ...            L  0.368899   NaN
4          3  194611020DTF   NBA  ...            L  0.640065   NaN

[5 rows x 23 columns]